# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
media/

# Environment
.env
.env.*

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
profile_pictures/
business_permits/

